<h1>Hello from Rails!</h1>


<p> 
  It is now  <%= @time %> <!-- Using instance variable to substitute the time into the output !-->
</p>

<p>
  Say <a href="/say/goodbye"> Goodbye! </a>
</p>

<p>
  Time to say
  <%= link_to "Goodbye" , say_goodbye_path %>! 







<!-- line 5 showing that communication between the controller and the view was successful,
Reasoning for this we may want to localize a users time zone by setting it in the controller/ time is data should be supplied to view from controller !--> 
<!-- Line 6:  Theres a link_to() call within ERB sequence, The first parameter in the call to link_to() is the text to be displayed in the hyperlink, and the next parameter tells Rails to generate the link to the goodbye() action. !-->